li {
  padding: 10px;
  margin: 10px;
  background: lightblue;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: grey;
}

.form-group {
  margin-bottom: 5px;
}

body {
  background-color: red;
}

.burgerCard {
  padding: 5px;
  margin: 5px;
}
